<table class="table table-flush" id="datatable-basic">
  <thead class="thead-light">
    <tr>
      <th>User</th>
      <th>Email</th>
      <th>Position</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% locals.users.forEach((user) => { %>
    <tr>
      <td>
        <div class="d-flex">
          <div class="form-check my-auto">
            <input
              class="form-check-input"
              type="checkbox"
              id="<%= user.id %>"
              checked=""
            />
          </div>
          <img
            class="w-10 ms-3 avatar avatar-xl"
            src="/assets/img/avatar-user/<%= user.avatar %>"
            alt="<%= user.id %>"
          />
          <h6 class="ms-3 my-auto"><%= user.username %></h6>
        </div>
      </td>
      <td class="text-sm font-weight-bold"><%= user.email %></td>
      <td class="text-sm">
        <% if (user.roles_id === 1) { %>
        <p class="text-sm font-weight-bold mb-0">admin</p>
        <% } else if(user.role_id === 2) { %>
        <p class="text-sm font-weight-bold mb-0">manager</p>
        <% } else if(user.role_id === 3) { %>
        <p class="text-sm font-weight-bold mb-0">salesclerk</p>
        <% } else { %>
        <p class="text-sm font-weight-bold mb-0">customer</p>
        <% } %>
      </td>
      <td>
        <% if(user.status === 10) { %>
        <span class="badge badge-sm bg-gradient-success">Online</span>
        <% } else { %>
        <span class="badge badge-sm bg-gradient-secondary">Offline</span>
        <% } %>
      </td>
      <td class="text-sm">
        <a
          href="/users/<%= user.id %>/preview"
          data-bs-toggle="tooltip"
          data-bs-original-title="Preview user"
        >
          <i class="fas fa-eye text-secondary"></i>
        </a>
        <a
          href="/users/<%= user.id %>/edit"
          class="mx-3"
          data-bs-toggle="tooltip"
          data-bs-original-title="Edit user"
        >
          <i class="fas fa-user-edit text-secondary"></i>
        </a>
        <a
          class="btn-model-delete"
          href="/users/<%= user.id %>/delete"
          data-bs-original-title="Delete user"
          data-bs-toggle="modal"
          data-bs-target="#confirm-delete-model"
        >
          <i class="fas fa-trash text-secondary"></i>
        </a>
      </td>
    </tr>
    <% }); %>
  </tbody>
  <tfoot>
    <tr>
      <th>User</th>
      <th>Email</th>
      <th>Position</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </tfoot>
</table>
